{% extends "main::container.html" %}

{%block article%}
<article>
    <header>
        <h1>Geste: un corpus de chansons de geste</h1>
    </header>
    <section>
    <p><em>Ki volt oïr chançun de beau semblant</em><br>
<em>Dunt bien sunt fait les vers par consonant</em><br>
<em>Ore laist la noise si se treie avant</em><br>
<em>Dirun la flur de la geste vallant</em></p>
    </section>
    <section>
    <h2>Présentation</h2>
        <p>Ce site propose une version lisible par l'humain et requêtable par la machine du corpus Geste, grâce aux outils de la suite <a href="http://capitains.org/">CapiTainS</a>.</p>
        <p>Les sources du corpus sont en outre disponibles sur Github: 
        <a href="http://github.com/Jean-Baptiste-Camps/Geste">http://github.com/Jean-Baptiste-Camps/Geste</a>
        </p>
        <p><strong>Citer ce corpus:</strong>
        <em>Geste: un corpus de chansons de geste</em>, dir. Jean-Baptiste Camps, avec la collab. d'Elena Albarran, Alice Cochet & Lucence Ing, Paris, 2016-…, <a href="http://github.com/Jean-Baptiste-Camps/Geste">http://github.com/Jean-Baptiste-Camps/Geste</a>.
        </p>
        <p>Les textes médiévaux sont du domaine public.</p>
<p>
<a href="http://creativecommons.org/publicdomain/mark/1.0/" rel="nofollow">
<img src="http://i.creativecommons.org/p/mark/1.0/88x31.png" alt="Public Domain Mark" data-canonical-src="http://i.creativecommons.org/p/mark/1.0/88x31.png" style="max-width:100%;">
</a>
<br>
Medieval texts are free of known copyright restrictions.
</p>
<p>Le reste est mis à disposition selon une licence Creative Commons Attribution - Partage dans les Mêmes Conditions 4.0 International (CC BY-SA 4.0).</p>
<p><a href="http://creativecommons.org/licenses/by-sa/4.0/" rel="nofollow"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" data-canonical-src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" style="max-width:100%;"></a><br>This work is licensed under a <a href="http://creativecommons.org/licenses/by-sa/4.0/" rel="nofollow">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>
<hr>
    </section>
    <section>
    <h2>Références</h2>
    <p>Pour une présentation de la perspective scientifique et des technologies employées 
    dans la constitution de ce corpus, on pourra se reporter à:</p>
    <p>Camps, Jean-Baptiste, <em>La `Chanson d’Otinel’: Édition Complète Du Corpus Manuscrit et Prolégomènes à l’édition Critique’</em>, thèse de doct., dir. Dominique Boutet, Paris-Sorbonne, 2016, en ligne: <a href="https://doi.org/10.5281/zenodo.1116735">https://doi.org/10.5281/zenodo.1116735</a>.
    </p>
    </section>
    <footer>
    <h2>Financements</h2>
    <p>Une partie des textes publiés ici ont été produits dans le cadre du projet 
    LAKME (<em>Linguistically Annotated Corpora Using Machine Learning Techniques</em>, ENS/EPHE/ENC), financé par l'Université Paris, Sciences &amp; Lettres en 2016-2018. 
    </p>

    </footer>
</article>
{%endblock%}
