<div class="ctsurn">{{ objectId }}</div>
<div><strong>Citer cet extrait:</strong> {{collections.current.label}}, dans <em>Geste: un corpus de chansons de geste</em>, dir. Jean-Baptiste Camps, avec la collab. d'Elena Albarran, Alice Cochet &amp; Lucence Ing, Paris, 2016-…, CC BY-SA, URN: {{ objectId }}, en ligne: 
<a href="{{url_for('.r_passage', objectId=objectId, subreference=subreference, _external=True)}}">{{url_for('.r_passage', objectId=objectId, subreference=subreference, _external=True)}}</a>
<!-- TODO: url du passage et indication des vers
avec u r l _ f o r ('.r_passage', objectId=objectId, subreference=next) -->
</div>
